{include file="common/header" /}
<!-- Body -->
<body>
<!-- Loading Container -->
<div class="loading-container">
    <div class="loader"></div>
</div>
<!--  /Loading Container -->
{include file="common/navbar" /}
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        {include file="common/sidebar" /}
        {include file="common/chatbar" /}
        <!-- Page Content -->
        <div class="page-content">
            {include file="common/page-breadcrumbs" /}
            {include file="common/page-header" /}
            <!-- Page Body -->