[mysqld]
#Open port
port=3306

#Exption:Installation path
#basedir="F:/phpStudy/MySQL/"
//mysql安装目录

#Exption:Data storage path
datadir=/var/lib/mysql/
//数据目录

#Exption:s socket
#socket = /tmp/mysql.sock

#Exption:The path where the plug-in is located
plugin_dir = /usr/lib/mysql/plugin
//插件目录

#Exption:Path of error log storage
log-error = /logs/error.log-error
//日志目录

#Exption：password expiration time
#default_password_lifetime=90

#Exption:Symbolic connection. If it is set to 1, the data in the MySQL database and table can be stored in a path other than the dataDir directory. The default is 0 (the default is 1 in the newer version of MySQL)
symbolic-links=0
//symbolic-links = 0：符号连接，如果设置为1，则mysql数据库和表里的数据支持储存在datadir目录之外的路径下，默认都是0（较新版本的mysql下默认是1）；

#Exption:Set to 0 to turn off the server's local load function, and set to 1 to turn on
local-infile=1
//local-infile = 0：设置为0表示关闭服务器从本地load的功能，设置为1则打开；

#Exption:Set the maximum number of MySQL connections. If the number of concurrent connections is large in actual application, you can appropriately increase this parameter, but it is not that the higher the better, because it involves the performance of the server's machine hardware.
#Exption:Sometimes when you look at the log, you will see an error such as "error 1040: too many connections". The reason for this error is usually because the value of this parameter is set too small;
max_connections=512
//设置Mysql的最大连接数；如果实际应用中，并发的连接数量比较大，可以适当的调高此参数，但是，也不是说越高越好，因为这牵涉到服务器的机器硬件的性能。

#Exption:Specifies the size of the buffer that can be used by a single query. The general default value is 1m
query_cache_limit=4M
//指定单个查询可以使用的缓冲区的大小，一般默认值是1M；

#Exption:Cache size settings for queries
query_cache_size = 64M
//查询的缓存大小设置；

#Exption:There are several ways to set the type of cache:
#Exption:Set to 0 to disable caching; set to 1 to cache all results; set to 2 to cache only queries that need to be cached in the select statement through SQL ﹣ cache
query_cache_type = 1
//设置缓存的类型，有以下几种设置方法：
设置成0，表示禁用缓存；设置成1，表示缓存所有结果；设置成2，表示只缓存在select语句中通过SQL_CACHE指定需要缓存的查询；

#Exption: Sometimes there is an error of "has more than max" when setting the maximum number of user connections. It is not necessarily that the number of settings of this parameter is not enough. Sometimes it is necessary to find the reason from the code to see if the connection is finished and disconnect in time
max_user_connections = 320
//用户连接数的最大值设置，有时候会出现：“has more than max_user_connections active connections”的错误，不一定是该参数的设置个数不够，有时候需要从代码里找原因，查看是否连接结束后及时断开；

#Exption: Timeout waiting time, in seconds, that is, if a connection does not respond within several seconds, the server will disconnect the connection with the client
wait_timeout = 9000
//超时等待时间，单位秒，即一个connection在若干秒内无响应，则服务器切断与这个客户端的连接；

#Exption:When the client establishes a connection with the server, the maximum time to wait for the arrival of the packet before the server returns the wrong handshake protocol, in seconds
connect_timeout = 20
//客户端与服务器建立连接时，服务器返回错误的握手协议前，等待数据包到来的最大时间，单位秒；

#Exption:For caching idle threads
#thread_cache_size = 256
//用于缓存空闲的线程；

#Exption: Used to specify the size of the index buffer
#key_buffer_size = 25M
//用于指定索引缓冲区的大小；

#Exption: In the query statement, if the join query is used more than once, the parameter can be increased appropriately. The default value is 2m. If the join query is rarely used, it can be ignored
#join_buffer_size = 2M
//查询语句中如果较多次使用join查询时，可适当增大该参数，默认2M，如果几乎不怎么用join进行查询，可不予理会；

#Exption: Specifies the size of the memory table that the user can create
#max_heap_table_size = 16M
//指定用户可创建内存表的大小；

#Exption: Set the server to reduce the priority of write operation, set to 1 to read-oriented
#low_priority_updates = 1
//设置服务器降低写操作的优先级，设置为1表示以读为主；

#Exption: Set the maximum value of one message transmission
max_allowed_packet = 128M
//设置一次消息传输的最大值；

#Exption: Set the maximum number of searches allowed based on key query
#max_seeks_for_key = 100
//设置基于key查询允许的最大查找次数；

#Exption: Increasing the size of this value can improve the performance of using "group by" and "order by" in queries
sort_buffer_size = 16M
//通过增加该值的大小可以提高查询中使用“group by”和“order by”的性能；

#Exption: Set the size of the server read buffer
#read_buffer_size = 16M
//设置服务器读缓冲区的大小；

#Exption: If the client fails to connect to the server, it is blocked. If the cumulative value exceeds this setting, the server will block all subsequent accesses of the client
#max_connect_errors = 10
//客户端连接服务器在没有成功时就被阻断了，累计后超过这个设置的值时，服务器将阻止该客户端后续的所有访问；

#Exption: The maximum size of temporary files allowed to be created when the server is rebuilding the index
#myisam_sort_buffer_size = 64M
//服务器重建索引时允许建立的最大临时文件的大小；

#Exption: Set the size of temporary internal heap table (heap)
#tmp_table_size = 64M
//设置临时内部堆积表（Heap）的大小；

#Exption: Set the size of the server random read buffer
#read_rnd_buffer_size = 1M
//设置服务器随机读取缓冲区的大小；

#Exption: Control the number of open files
#open_file_limit = 6050
//控制文件打开的个数；
