<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" id="first" v-model="frist">
			<select name="" v-model="fuhao">
				<option value="1">+</option>
				<option value="2">-</option>
				<option value="3">*</option>
				<option value="4">÷</option>
			</select>
			<input type="text" id="second" v-model="second">
			<button type="button" v-on:click="queren"> 确认</button>
			<input type="text" id="jieguo" v-bind:value="jieguo">
		</div>
		<script type="text/javascript">
			var vue = new Vue({
				el:"#app",
				data:{
					frist:0,
					second:0,
					fuhao:0,
					jieguo:0
				},
				methods:{
					queren:function(){
						//debugger
						var frist=parseInt(this.frist);
						var second=parseInt(this.second);
							switch(this.fuhao){
								case "1":this.jieguo=frist+second;break;
								case "2":this.jieguo=frist-second;break;
								case "3":this.jieguo=frist*second;break;
								case "4":this.jieguo=frist/second;break;
								default:this.jieguo=0;
							};
					
					},
				}
			});
		</script>
	</body>
</html>
