# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\笔记\PHPExcel示例\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
